@font-face {
	font-family: 'Futura PT Demi';
	src: url(../../welcome-comp/fonts/FuturaPT-Demi.woff2) format('woff2'),
	url(../../welcome-comp/fonts/FuturaPT-Demi.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}
