@font-face {
	font-family: 'Futura PT Cond Extra Bold Ital';
	src: url(../../assets/fonts/FuturaPTCond-ExtraBoldObl.woff2) format('woff2'),
	url(../../assets/fonts/FuturaPTCond-ExtraBoldObl.woff) format('woff');
	font-weight: 800;
	font-style: italic;
}
