@font-face {
	font-family: 'Futura PT Cond Extra';
	src: url(../../assets/fonts/FuturaPTCond-ExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/FuturaPTCond-ExtraBold.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}
