:root {
    --bg-dark-primary: rgb(40, 40, 40);
    --bg-dark-secondary: rgb(60, 60, 60);
    --white: white;
    --light: rgb(220, 220, 220)
}

body{
    background-color: var(--bg-dark-primary);
    color: var(--light);
}


.feature-float-box {
    -webkit-box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.61);
}

.white-box {
    background-color: white;
    color: black;
}

.light-box {
    background-color: var(--light);
    color: black
}
.BaseLoginButton {
    border-radius: 10px;
    border-width: 0px;
    color: white;
    margin-right: 40px;
}
.profileBar {
    height: 50px;
    padding: 5px 35px;
}

.profileBar:hover {
    cursor: pointer;
}

.profileAvatar {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    transition: all .2s ease-in-out;
}

.profileBar:hover > .profileAvatar {
    transform: scale(1.2);
}

.profileDropdown {
    border-radius: 0;
}

.login-icon {
    margin: 20px;
    font-size: 200px;
}

.login-card {
    background-color: var(--bg-dark-secondary);
    width: 400px;
    max-height: 600px;
    padding: 30px;
    margin: 50px;
    border-radius: 40px;
}

.login-page-id-link, .login-page-id {
    color: rgb(180, 180, 180);
}
.login-page-id-link:hover {
    color: rgb(200, 200, 200);
}

.topNavBarContainer {
}


@font-face {
    font-family: "Mukta Bold";
    src: url("/css/fonts/Mukta-Bold.ttf")
}
@font-face {
    font-family: "Mukta Medium";
    src: url("/css/fonts/Mukta-Medium.ttf")
}
@font-face {
    font-family: "Mukta Regular";
    src: url("/css/fonts/Mukta-Regular.ttf")
}
.mukta-bold {
    font-family: "Mukta Bold", sans-serif;
}

.mukta-regular {
    font-family: "Mukta Regular", sans-serif;
}

.mukta-medium {
    font-family: "Mukta Medium", sans-serif;
}
.front-tfp{
    font-size: min(250px, 20vw);
}
.front-explore-btn{
    font-size: max(4vh,2vw);
    min-width: 80%;
    font-family: "Mukta Bold", sans-serif!important;
    border-width: 5px!important;
    border-radius: 20px!important;
}
.front-intro {

}
#videobackground .view video {
    top: 0!important;
    left: 0!important;
    transform: none!important;
    height: 93vh;
    object-fit: cover;
}
#videobackground {
    padding: 0!important;
}

#videobackground .gradient {
    background: -moz-linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7) 100%);
    background: -webkit-linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7) 100%);
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7) 100%);
}
#guide-container {
    margin:0;
}
.g-card-cont {
    width: 200px;
    height: 500px;
}
.g-card {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}
.g-thumbs {
    font-size: 20px;
}
.guide-glossary {
    width: min(300px, 80vw);
    height:0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 0;
    top:0;
}
.glossary {
    padding: 15px 0 15px 15px;
    max-height: 90vh;
    background-color: rgba(50,50,50, .8)
}
.g-m-item {
    border-top: 2px solid rgba(90,90,90, .6);
    margin-top: 8px;
    padding-top: 5px;
    width: 90%;
    font-family: "Mukta Regular", sans-serif;
}

.hov-point:hover {
    cursor: pointer;
}


.scrollbar {
    overflow-y: scroll;
}
.scrollbar-guide {
    margin-top: 5px;
    scrollbar-color: #474747 #111111;
    background-color: rgba(30,30,30, .6);
}
.scrollbar-guide::-webkit-scrollbar {
    width: 12px;
    background-color: #111111;
    border-radius: 10px;
}

.scrollbar-guide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #474747;
}
.vw100 {
    width: 100vw;
}

#guide-bod {
    color: white;
    padding-left: 6vw;
    padding-right: 6vw;
}
.guide-body .title {
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}
.list-indent {
    padding-left: 0px;
}
.ubl-list{
    margin-bottom: 20px;
}
p.guide-body {
    font-size: 50px;
}
.guide-reg {
    font-family: "Mukta Regular", sans-serif;
    font-size: 20px;
}
li.guide-body {
    list-style-type: lower-alpha;
}
.pug-class {
    filter: grayscale(20%);
    height: 20vh;
    overflow: hidden;
    width: 100%;
    transition: 0.2s;
    border-radius: 25px 25px 0 0;
}
.pug-class:after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: rgba(18, 109, 18, 0.5);
    opacity:0;
    transition: .5s;
    border-radius: 25px 25px 0 0;
}
.pug-class:hover {
    cursor: pointer;
}
.pug-class:hover:after {
    opacity: 1
}
.bg-scout {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/scout.png") no-repeat center;
    background-size: cover;
}
.bg-scout:after {
    content: "Queue as Scout";
}
.bg-soldier {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/soldier.png") no-repeat center;
    background-size: cover;
}
.bg-soldier:after {
    content: "Queue as Soldier";
}
.bg-pyro {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/pyro.png") no-repeat center;
    background-size: cover;
}
.bg-pyro:after {
    content: "Queue as Pyro";
}
.bg-demoman {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/demoman.png") no-repeat center;
    background-size: cover;
}
.bg-demoman:after {
    content: "Queue as Demoman";
}
.bg-heavy {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/heavy.png") no-repeat center;
    background-size: cover;
}
.bg-heavy:after {
    content: "Queue as Heavy";
}
.bg-engineer {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/engineer.png") no-repeat center;
    background-size: cover;
}
.bg-engineer:after {
    content: "Queue as Engineer";
}
.bg-medic {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/medic.png") no-repeat center;
    background-size: cover;
}
.bg-medic:after {
    content: "Queue as Medic";
}
.bg-sniper {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/sniper.png") no-repeat center;
    background-size: cover;
}
.bg-sniper:after {
    content: "Queue as Sniper";
}
.bg-spy {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/spy.png") no-repeat center;
    background-size: cover;
}
.bg-spy:after {
    content: "Queue as Spy";
}
.bg-all-class {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("/images/pug-role-profile/saxton.png") no-repeat center;
    background-size: cover;
}
.bg-all-class:after {
    content: "Queue as All Classes";
}

.prolander-page {
    background-color:rgba(156, 39, 176, 0.0);
    border-radius: 0 30px 30px 30px;
    min-height: 80vh;
}
.req-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #7b1fa2;
}
.req-active-triangle {
    border-color: transparent transparent transparent rgba(141, 0, 163, .5);
}
.pug-req-body {
    word-wrap: normal;
    font-size: 15px;
    height: 50px;
    display:flex;justify-content:center;align-items:center;
    background-color: #7b1fa2;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgba(200, 200, 200, .2);
    border-bottom: 25px solid transparent;
}
.req-prog {
    font-size: 55px;
    color: #7b1fa2;

}
.class-name {
    max-width: 100%;
    font-size: max(1.3vmax, 25px);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1em; /* a */
    max-height: 4em; /* a x number of line to show (ex : 2 line)  */
}

.class-col {
    min-width: 150px;
    background-color: rgba(0, 0,0, 0);
    border-radius: 25px;
    background-color: #0099CC40
}
.n-r {
    border-radius: 0;
}
.tb {
    max-width: 100%;
}
.aa {
    border-radius: 30px;
}
.pug-pl-row {
    border-radius: 20px
}
.pp-col {
    font-family: "Mukta Regular", sans-serif;
}
.pp-img {
    border-radius: 50%;
    max-height: 40px;
    margin-left: -1px;
}
.b-container-10 {
    max-width: 10%;
    display: table;
    table-layout: fixed;
}
.wrap-ellipse {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}

.cell2 {
    width: 1%;
}

h2 {
    display: inline;
    min-width: 100px;
}
.p-format-btn {
    font-size: 20px;
}
.cp-r {
    background-color: #3F729B20;
    min-height: 100px;
    border-radius: 10px;
}
.p-map-img {
    border-radius: 10px 10px 0 0;
}
.emblem-test {
    width: 30px;
    filter: hue-rotate(180deg) brightness(100) grayscale(100);
}
.p-draft-col {
    background-color: red;
}
.queue-badge {
    white-space: nowrap;
}
.player-badge {
    border-radius: 25px;
    border: 2px solid #ffffff00 !important;
    color: rgb(230, 230, 230) !important;
    text-transform: none!important;
    min-width: 100px!important;
}
.player-badge:hover {
    border: 2px solid #ffffff !important;
    color: white!important;
}
.player-badge:active:focus, .player-badge:focus  {
    border: 2px solid white !important;
    border-radius: 25px;
    color: white !important;
}
.badge-dropdown-item {
    color: dimgray!important;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.badge-dropdown-item:hover {
    background-color: rgba(240, 240, 240, .5);
}
.class-queue-card-pool {
}
.badge-modal-header {
    text-align: center;
}
.badge-info-img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.sm-circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.stream-icon {
    width: 100%;
}
.stream-col {
    background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_ceejaey-320x180.jpg);
    width: 320px;
    height: 180px;
    border: rgba(200, 200, 200, .8) 3px solid;
}
.bg-dark-2 {
    background-color: rgba(20, 20, 20, .3);;
}
.c-menu {
    color: lightgrey;
}
.c-menu:hover, .c-menu-selected {
    color: whitesmoke;
}
.c-menu-selected, .c-menu-selected:hover {

}
.c-menu-text {
    color: rgb(160, 160, 160);
}
.c-menu-text-selected, .c-menu-text-selected:hover {
    color: white
}
.c-talent-pic {
    width: 100px;
}
.c-talent-div {
    display: inline-flex;
}
